spring:
  application:
    name: cannaverse-core

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
  endpoint:
    health:
      probes:
        enabled: true

server:
  port: 8080
