name: CI - Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Build with Maven
        run: ./mvnw -B clean verify

      - name: Build Docker image
        run: docker build -t laundryheroes-core .

      - name: Test Docker image runs
        run: |
          docker run --rm -d \
          -p 8080:8080 \
          -e SPRING_PROFILES_ACTIVE=ci \
          --name app \
          laundryheroes-core

          sleep 20
          curl -f http://localhost:8080/api/ping
